<% if current_teacher && current_teacher.admin == true %>
  <h2>Register a New Teacher</h2>

  <%= form_for(@teacher, url: registration_path(@teacher)) do |f| %>

    <div class="field">
      <%= f.label :first_name %><br />
      <%= f.text_field :first_name, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :last_name %><br />
      <%= f.text_field :last_name %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: false %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>

  <%= render "teachers/shared/links" %>
<% else %>
  <h1>Sorry, you don't have permission to add a new teacher.</h1>
  <h3>Only administrators can request access for a new teacher to join
    the system.</h3>
<% end %>
