  <h2>Register a New Teacher</h2>

  <%= form_for(@teacher, url: registration_path(@teacher)) do |f| %>

    <div class="input-field">
      <label for="first_name">First Name</label>
      <%= f.text_field :first_name, autofocus: true %>
    </div>

    <div class="input-field">
      <label for="last_name">Last Name</label>
      <%= f.text_field :last_name %>
    </div>

    <div class="input-field">
      <label for="email">Email</label>
      <%= f.email_field :email, autofocus: false %>
    </div>

    <div class="input-field">
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <label for="password">Password</label>
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="input-field">
      <label for="password_confirmation">Password Confirmation</label>
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>


  <%= render "teachers/shared/links" %>

