<table>
  <th>Name</th>
  <th>Teacher</th>
  <th>GPA</th>
  <th>Gender</th>
  <th>Grade</th>
  <th>Detentions</th>

  <% @students.each do |student| %>
    <tr>
      <td>  <%= link_to( "#{student.full_name}", student_path(student) ) %>  </td>
      <td> Teacher:

        <% if student.teacher %>

          <%= link_to "#{student.teacher.full_name}", teacher_path(student.teacher) %>  </td>

        <% else %>

        none, <%= button_to "Add to your classroom", "/teachers/#{current_teacher.id}/students/#{student.id}/add_to_classroom", :method => :put %></td>
        <% end %>

      <td> GPA: <%= student.gpa %>  </td>
      <td> Gender: <%= student.gender %>  </td>
      <td> Grade: <%= student.grade %>  </td>
      <td> Detentions: <%= student.detentions %>  </td>

      <% if authorized?(student.id)%>

          <td><%= button_to "Add detention", "/teachers/#{student.teacher.id}/students/#{student.id}/detentions", :method => :put, :id => "detention-button-xx" %></td>

        <% end %>

      <% if admin? && student.teacher %>
        <td><%= button_to "Remove from classroom", "/teachers/#{student.teacher.id}/students/#{student.id}/remove_from_classroom", class: "custom-button", :method => :put %> </td>
      <% end %>

    </tr>
  <% end %>
</table>
