<h1><%= @teacher.first_name %>'s students</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Gender</th>
      <th>Grade</th>
      <th>GPA</th>
      <th>Detentions</th>
      <th>T-Shirt Size</th>
    </tr>
  </thead>
  <tbody>
  <% @students.each do |student| %>
    <tr>
      <td><%= student.first_name %> <%= student.last_name %></td>
      <td><%= student.gender %> </td>
      <td><%= student.grade %></td>
      <td><%= student.gpa %></td>
      <td><%= student.detentions %> </td>
      <td><%= student.t_shirt_size %></td>

        <td><% if authorized?(student.id)%>
          <%= button_to "Add detention", "/teachers/#{@teacher.id}/students/#{student.id}/detentions", :method => :put %>
        <% end %>
      </td>

      <% if admin? %>
        <td><%= button_to "Remove from classroom", "/teachers/#{@teacher.id}/students/#{student.id}/remove_from_classroom", :method => :put %> </td>
      <% end %>


    </tr>
  <% end %>
  </tbody>
</table>
