<h2> Edit </h2>

<%= form_for @teacher do |f| %>
  <%= f.text_field :email, placeholder: "email@email.com" %>
  <%= f.text_field :first_name, placeholder: "First Name" %>
  <%= f.text_field :last_name, placeholder: "Last Name" %>
  <%= f.text_field :password, placeholder: "password" %>
  <%= f.submit "Submit changes" %>
<% end %>
