<h2> Edit </h2>

<%= form_for @teacher do |f| %>
  <%= f.text_field :email, value: "#{@teacher.email}" %>
  <%= f.text_field :first_name, value: "#{@teacher.first_name}" %>
  <%= f.text_field :last_name, value: "#{@teacher.last_name}" %>
  <%= f.submit "Submit changes" %>
<% end %>
