<div class="card-panel light-blue">
<h1 class='white-text'><%= @teacher.first_name %> <%= @teacher.last_name %>'s profile</h1>
</div>
<h3><%= @teacher.first_name %> currently has <%= pluralize(@teacher.students.count, 'student') %></h3>

<% if !@teacher.students.empty? %>

  <h3> Average of <%= @teacher.first_name %>'s students GPA: <%= @teacher.average_GPA %> </h3>
  <h3> Total detentions given to<%= @teacher.first_name %>'s students: <%= @teacher.total_detentions %> </h3>
  <h3> Average detentions of <%= @teacher.first_name %>'s students: <%= @teacher.average_detentions %> </h3>

<% end %>
