<!DOCTYPE html>
<html>
<head>
  <title>TeacherGroups</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lato:400' rel='stylesheet' type='text/css'>
</head>
<body>
<<<<<<< HEAD
  <ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">Profile</a></li>
    <li><a href="#!">Teachers</a></li>
    <li><a href="#!">Students</a></li>
    <li><a href="#!">Admin</a></li>
    <li><a href="#!">Logout</a></li>
  </ul>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo left">Classy</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Menu<i class="material-icons right">toc</i></a></li>
      </ul>
    </div>
  </nav>
=======
>>>>>>> 01e3310b889f057eda225c6c89fc27d793cd7380

<%= form_tag 'teachers/upload', :multipart => true do %>
   <label for="file">Upload csv File</label> <%= file_field_tag "file" %>
   <%= submit_tag "Save changes", id: "save" %>
<% end %>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>

<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<%= yield %>

</body>
</html>
