<!DOCTYPE html>
<html>
<head>
  <title>TeacherGroups</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lato:400' rel='stylesheet' type='text/css'>
</head>
<body>
  <ul id="dropdown1" class="dropdown-content">
    <% if current_teacher %>
      <li><%= link_to "Profile", teacher_path(current_teacher) %></li>
    <% end %>
    <% if current_teacher && current_teacher.admin == true %>
      <li><%= link_to "Add a Teacher", sign_up_path %></li>
    <% end %>
    <li><%= link_to "Teachers", teachers_path %></li>
    <li><%= link_to "Students", students_all_path %></li>
    <% if teacher_signed_in? && admin? %>
      <li><%= link_to "Admin", teachers_admin_path %><li>
    <% end %>
    <li><%= link_to "Logout", destroy_teacher_session_path, method: :delete %></li>
  </ul>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo left">Classy</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Menu<i class="material-icons right">toc</i></a></li>
        </ul>
      </div>
    </nav>
  </div>


<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>

<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<%= yield %>

</body>
</html>
